In [1]:
import numpy as np
import pandas as pd
import glob
import re

In [2]:
path = "/Users/aruhy/OneDrive/デスクトップ/data/12-12"

In [4]:
df = pd.DataFrame(columns=['x座標','y座標','z座標','V[V]','T_cell[℃]','U_cath[m/s]','i[A/m^2]'])
U_range = ["*_1.0ms","*_1.5ms","*_2.0ms"]
for U in U_range:
    u = re.findall(r'_(.*?)ms', U)
    T_range = ["/*_100℃"+U,"/*_110℃"+U,"/*_120℃"+U,"/*_130℃"+U,"/*_140℃"+U,"/*_150℃"+U]
    for T in T_range:
        files1 = glob.glob(path + T)
        for filename in files1:
            df1 = pd.read_csv(filename,names=['x座標','y座標','z座標','i[A/m^2]'], delim_whitespace=True, header=8)
            v = re.findall(r'_3D(.*?)V_',filename)
            df1.insert(3,'V[V]', v[0])
            t = re.findall(r'V_(.*?)℃_',filename)
            df1.insert(4,'T_cell[℃]',t[0])
            df1.insert(5,'U_cath[m/s]',u[0])
            df = pd.concat([df, df1])
df['V[V]'] = df['V[V]'].astype(float)
df['T_cell[℃]'] = df['T_cell[℃]'].astype(float)
df['U_cath[m/s]'] = df['U_cath[m/s]'].astype(float)
df

           x座標       y座標       z座標  V[V]  T_cell[℃]  U_cath[m/s]      i[A/m^2]
0     0.000800  0.010638  0.000617  0.45      100.0          1.0  16377.285384
1     0.000800  0.010638  0.000650  0.45      100.0          1.0  16338.307600
2     0.000738  0.010638  0.000650  0.45      100.0          1.0  16364.027114
3     0.000738  0.010441  0.000650  0.45      100.0          1.0  16370.911237
4     0.000800  0.010441  0.000650  0.45      100.0          1.0  16346.807429
...        ...       ...       ...   ...        ...          ...           ...
1802  0.000185  0.000000  0.000550  0.90      150.0          2.0   2184.167607
1803  0.000123  0.000000  0.000583  0.90      150.0          2.0   2196.055654
1804  0.000000  0.000000  0.000550  0.90      150.0          2.0   2206.078558
1805  0.000062  0.000000  0.000550  0.90      150.0          2.0   2205.363425
1806  0.000123  0.000000  0.000550  0.90      150.0          2.0   2200.222267

[357786 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 357786 entries, 0 to 1806
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   x座標          357786 non-null  float64
 1   y座標          357786 non-null  float64
 2   z座標          357786 non-null  float64
 3   V[V]         357786 non-null  float64
 4   T_cell[℃]    357786 non-null  float64
 5   U_cath[m/s]  357786 non-null  float64
 6   i[A/m^2]     357786 non-null  float64
dtypes: float64(7)
memory usage: 21.8 MB

In [6]:
df.describe()

,x座標,y座標,z座標,V[V],T_cell[℃],U_cath[m/s],i[A/m^2]
count,357786.000000,357786.000000,357786.000000,357786.000000,357786.000000,357786.000000,357786.000000
mean,0.000400,0.005316,0.000600,0.650000,125.000000,1.500000,10592.168904
std,0.000270,0.003203,0.000047,0.158114,17.078275,0.408249,7719.344800
min,0.000000,0.000000,0.000550,0.400000,100.000000,1.000000,107.906155
25%,0.000185,0.002561,0.000550,0.500000,110.000000,1.000000,3558.741040
50%,0.000369,0.005319,0.000583,0.650000,125.000000,1.500000,9365.810870
75%,0.000615,0.008077,0.000650,0.800000,140.000000,2.000000,17036.326016
max,0.000800,0.010638,0.000650,0.900000,150.000000,2.000000,28998.857325

In [7]:
df.to_csv("CD3D_100-150℃_1.0-2.0ms_0.4-0.9V")