In [2]:
import numpy as np
import pandas as pd
import glob
import re
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
path = "/Users/aruhy/OneDrive/デスクトップ/data/1-25"

In [4]:
df = pd.DataFrame(columns=['x座標','y座標','z座標','V[V]','T_cell[℃]','W_ch[mm]','i[A/m^2]'])

T_range = ["/*_100℃_1.5ms","/*_110℃_1.5ms","/*_120℃_1.5ms","/*_130℃_1.5ms","/*_140℃_1.5ms","/*_150℃_1.5ms"]
for T in T_range:
    W_ch_range = ["_0.4mm","_0.8mm","_1.6mm"] #0.2mmはいったん消す
    for W_ch in W_ch_range:
        files2 = glob.glob(path + T + W_ch)
        for filename in files2:
            df1 = pd.read_csv(filename,names=['x座標','y座標','z座標','i[A/m^2]'], delim_whitespace=True, header=8)
            v = re.findall(r'_3D(.*?)V_',filename)
            df1.insert(3,'V[V]', v[0])
            t = re.findall(r'V_(.*?)℃_',filename)
            df1.insert(4,'T_cell[℃]',t[0])
            w = re.findall(r'ms_(.*?)mm',filename)
            df1.insert(5,'W_ch[mm]',w[0])
            df1 = df1.sample(30000)
            df = pd.concat([df, df1])
df['V[V]'] = df['V[V]'].astype(float)
df['T_cell[℃]'] = df['T_cell[℃]'].astype(float)
df['W_ch[mm]'] = df['W_ch[mm]'].astype(float)
df

C:\Users\aruhy\AppData\Local\Temp\ipykernel_26292\1825809390.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df1])

            x座標       y座標       z座標  V[V]  T_cell[℃]  W_ch[mm]      i[A/m^2]
21256  0.000220  0.000113  0.000550  0.45      100.0       0.4  17378.179093
33726  0.000356  0.008232  0.000583  0.45      100.0       0.4  16271.092374
60165  0.000628  0.000040  0.000623  0.45      100.0       0.4  17571.272110
41746  0.000436  0.001790  0.000583  0.45      100.0       0.4  16627.340309
56009  0.000588  0.005625  0.000650  0.45      100.0       0.4  16995.794692
...         ...       ...       ...   ...        ...       ...           ...
67645  0.001770  0.003546  0.000317  0.90      150.0       1.6   1946.398661
49690  0.001310  0.008980  0.000250  0.90      150.0       1.6   1406.737216
50378  0.001330  0.009456  0.000338  0.90      150.0       1.6   1430.227801
10800  0.000290  0.008471  0.000317  0.90      150.0       1.6   1817.506672
19029  0.000490  0.004672  0.000307  0.90      150.0       1.6   1656.880186

[5910000 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5910000 entries, 21256 to 19029
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   x座標        float64
 1   y座標        float64
 2   z座標        float64
 3   V[V]       float64
 4   T_cell[℃]  float64
 5   W_ch[mm]   float64
 6   i[A/m^2]   float64
dtypes: float64(7)
memory usage: 360.7 MB

In [6]:
df.describe()

,x座標,y座標,z座標,V[V],T_cell[℃],W_ch[mm],i[A/m^2]
count,5.910000e+06,5.910000e+06,5.910000e+06,5.910000e+06,5.910000e+06,5.910000e+06,5.910000e+06
mean,6.650410e-04,5.319993e-03,4.340070e-04,6.510152e-01,1.250254e+02,9.299492e-01,8.388809e+03
std,4.794773e-04,3.109631e-03,1.292027e-04,1.578697e-01,1.711782e+01,4.978803e-01,6.850659e+03
min,4.000000e-06,0.000000e+00,2.500000e-04,4.000000e-01,1.000000e+02,4.000000e-01,-8.682458e-02
25%,2.900000e-04,2.626995e-03,3.268333e-04,5.000000e-01,1.100000e+02,4.000000e-01,2.563674e+03
50%,5.800000e-04,5.319000e-03,4.018333e-04,6.500000e-01,1.300000e+02,8.000000e-01,6.514264e+03
75%,9.300000e-04,8.016915e-03,5.758333e-04,8.000000e-01,1.400000e+02,1.600000e+00,1.299123e+04
max,1.990000e-03,1.063800e-02,6.500000e-04,9.000000e-01,1.500000e+02,1.600000e+00,2.899283e+04

In [7]:
df.to_csv("CD3D_100-150℃_0.2-1.6mm_0.4-0.9V")

In [8]:
for col in df.columns:
    scaler =  StandardScaler()
    df[col] = scaler.fit_transform(np.array(df[col].values).reshape(-1, 1))
    
df.head()

            x座標       y座標       z座標      V[V]  T_cell[℃]  W_ch[mm]  i[A/m^2]
21256 -0.928180 -1.674384  0.897760 -1.273299  -1.461949 -1.064411  1.312191
33726 -0.644537  0.936334  1.155753 -1.273299  -1.461949 -1.064411  1.150588
60165 -0.077253 -1.697825  1.466634 -1.273299  -1.461949 -1.064411  1.340377
41746 -0.477689 -1.135263  1.155753 -1.273299  -1.461949 -1.064411  1.202590
56009 -0.160677  0.098192  1.671738 -1.273299  -1.461949 -1.064411  1.256374

In [9]:
df.describe()

,x座標,y座標,z座標,V[V],T_cell[℃],W_ch[mm],i[A/m^2]
count,5.910000e+06,5.910000e+06,5.910000e+06,5.910000e+06,5.910000e+06,5.910000e+06,5.910000e+06
mean,-6.509581e-17,-3.782684e-16,1.355470e-15,7.500638e-15,9.659880e-15,-2.536736e-15,4.761382e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.378670e+00,-1.710812e+00,-1.424174e+00,-1.590016e+00,-1.461949e+00,-1.064411e+00,-1.224539e+00
25%,-7.821873e-01,-8.660185e-01,-8.295008e-01,-9.565817e-01,-8.777627e-01,-1.064411e+00,-8.503029e-01
50%,-1.773620e-01,-3.192840e-04,-2.490173e-01,-6.430802e-03,2.906106e-01,-2.610050e-01,-2.736299e-01
75%,5.525996e-01,8.672805e-01,1.097704e+00,9.437201e-01,8.747973e-01,1.345807e+00,6.718212e-01
max,2.763340e+00,1.710173e+00,1.671738e+00,1.577154e+00,1.458984e+00,1.345807e+00,3.007598e+00

In [10]:
df.to_csv("CD3D_100-150℃_0.2-1.6mm_0.4-0.9V_std")