In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['x座標','y座標','V[V]','i[A/m^2]'])

In [3]:
def data_add(f,v):
    global df
    df1 = pd.read_excel(f,names=['x座標','y座標','i[A/m^2]'] ,header=8)
    df1.insert(2, 'V[V]', v)
    df = pd.concat([df, df1])
    return df

In [4]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.4V.xlsx', 0.4)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000734  0.010441   0.4  19224.406968
1     0.000734  0.010428   0.4  19224.406968
2     0.000061  0.010637   0.4  19224.406968
3     0.000062  0.010628   0.4  19224.406968
4     0.000738  0.010227   0.4  19224.406968
...        ...       ...   ...           ...
1009  0.000586  0.000197   0.4  33523.116672
1010  0.000200  0.000394   0.4  33523.116672
1011  0.000582  0.000000   0.4  33523.116672
1012  0.000214  0.000197   0.4  33523.116672
1013  0.000218  0.000000   0.4  33523.116672

[1014 rows x 4 columns]

In [5]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.5V.xlsx', 0.5)

          x座標       y座標  V[V]      i[A/m^2]
0    0.000734  0.010441   0.4  19224.406968
1    0.000734  0.010428   0.4  19224.406968
2    0.000061  0.010637   0.4  19224.406968
3    0.000062  0.010628   0.4  19224.406968
4    0.000738  0.010227   0.4  19224.406968
..        ...       ...   ...           ...
838  0.000604  0.000197   0.5  27060.033915
839  0.000186  0.000394   0.5  27060.033915
840  0.000602  0.000000   0.5  27060.033915
841  0.000196  0.000197   0.5  27060.033915
842  0.000198  0.000000   0.5  27060.033915

[1857 rows x 4 columns]

In [6]:
df

          x座標       y座標  V[V]      i[A/m^2]
0    0.000734  0.010441   0.4  19224.406968
1    0.000734  0.010428   0.4  19224.406968
2    0.000061  0.010637   0.4  19224.406968
3    0.000062  0.010628   0.4  19224.406968
4    0.000738  0.010227   0.4  19224.406968
..        ...       ...   ...           ...
838  0.000604  0.000197   0.5  27060.033915
839  0.000186  0.000394   0.5  27060.033915
840  0.000602  0.000000   0.5  27060.033915
841  0.000196  0.000197   0.5  27060.033915
842  0.000198  0.000000   0.5  27060.033915

[1857 rows x 4 columns]

In [7]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.45V.xlsx', 0.45)

          x座標       y座標  V[V]      i[A/m^2]
0    0.000734  0.010441  0.40  19224.406968
1    0.000734  0.010428  0.40  19224.406968
2    0.000061  0.010637  0.40  19224.406968
3    0.000062  0.010628  0.40  19224.406968
4    0.000738  0.010227  0.40  19224.406968
..        ...       ...   ...           ...
861  0.000596  0.000197  0.45  30277.550464
862  0.000193  0.000394  0.45  30277.550464
863  0.000593  0.000000  0.45  30277.550464
864  0.000204  0.000197  0.45  30277.550464
865  0.000207  0.000000  0.45  30277.550464

[2723 rows x 4 columns]

In [8]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.55V.xlsx', 0.55)

          x座標       y座標  V[V]      i[A/m^2]
0    0.000734  0.010441  0.40  19224.406968
1    0.000734  0.010428  0.40  19224.406968
2    0.000061  0.010637  0.40  19224.406968
3    0.000062  0.010628  0.40  19224.406968
4    0.000738  0.010227  0.40  19224.406968
..        ...       ...   ...           ...
874  0.000615  0.000232  0.55  23900.382914
875  0.000170  0.000394  0.55  23900.382914
876  0.000612  0.000000  0.55  23900.382914
877  0.000186  0.000197  0.55  23900.382914
878  0.000187  0.000000  0.55  23900.382914

[3602 rows x 4 columns]

In [9]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.6V.xlsx', 0.6)

          x座標       y座標  V[V]      i[A/m^2]
0    0.000734  0.010441   0.4  19224.406968
1    0.000734  0.010428   0.4  19224.406968
2    0.000061  0.010637   0.4  19224.406968
3    0.000062  0.010628   0.4  19224.406968
4    0.000738  0.010227   0.4  19224.406968
..        ...       ...   ...           ...
970  0.000628  0.000197   0.6  20796.977851
971  0.000158  0.000394   0.6  20796.977851
972  0.000627  0.000000   0.6  20796.977851
973  0.000172  0.000197   0.6  20796.977851
974  0.000172  0.000000   0.6  20796.977851

[4577 rows x 4 columns]

In [10]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.65V.xlsx', 0.65)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000734  0.010441  0.40  19224.406968
1     0.000734  0.010428  0.40  19224.406968
2     0.000061  0.010637  0.40  19224.406968
3     0.000062  0.010628  0.40  19224.406968
4     0.000738  0.010227  0.40  19224.406968
...        ...       ...   ...           ...
1062  0.000641  0.000197  0.65  17772.790978
1063  0.000148  0.000394  0.65  17772.790978
1064  0.000641  0.000000  0.65  17772.790978
1065  0.000159  0.000197  0.65  17772.790978
1066  0.000159  0.000000  0.65  17772.790978

[5644 rows x 4 columns]

In [11]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.7V.xlsx', 0.7)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000734  0.010441   0.4  19224.406968
1     0.000734  0.010428   0.4  19224.406968
2     0.000061  0.010637   0.4  19224.406968
3     0.000062  0.010628   0.4  19224.406968
4     0.000738  0.010227   0.4  19224.406968
...        ...       ...   ...           ...
1197  0.000650  0.000197   0.7  14852.369881
1198  0.000140  0.000394   0.7  14852.369881
1199  0.000651  0.000000   0.7  14852.369881
1200  0.000150  0.000197   0.7  14852.369881
1201  0.000149  0.000000   0.7  14852.369881

[6846 rows x 4 columns]

In [12]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.75V.xlsx', 0.75)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000734  0.010441  0.40  19224.406968
1     0.000734  0.010428  0.40  19224.406968
2     0.000061  0.010637  0.40  19224.406968
3     0.000062  0.010628  0.40  19224.406968
4     0.000738  0.010227  0.40  19224.406968
...        ...       ...   ...           ...
1307  0.000658  0.000197  0.75  12068.462636
1308  0.000133  0.000394  0.75  12068.462636
1309  0.000659  0.000000  0.75  12068.462636
1310  0.000142  0.000197  0.75  12068.462636
1311  0.000141  0.000000  0.75  12068.462636

[8158 rows x 4 columns]

In [13]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.8V.xlsx', 0.8)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000734  0.010441   0.4  19224.406968
1     0.000734  0.010428   0.4  19224.406968
2     0.000061  0.010637   0.4  19224.406968
3     0.000062  0.010628   0.4  19224.406968
4     0.000738  0.010227   0.4  19224.406968
...        ...       ...   ...           ...
1450  0.000665  0.000197   0.8   9459.330363
1451  0.000128  0.000394   0.8   9459.330363
1452  0.000666  0.000000   0.8   9459.330363
1453  0.000135  0.000197   0.8   9459.330363
1454  0.000134  0.000000   0.8   9459.330363

[9613 rows x 4 columns]

In [14]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.85V.xlsx', 0.85)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000734  0.010441  0.40  19224.406968
1     0.000734  0.010428  0.40  19224.406968
2     0.000061  0.010637  0.40  19224.406968
3     0.000062  0.010628  0.40  19224.406968
4     0.000738  0.010227  0.40  19224.406968
...        ...       ...   ...           ...
1613  0.000670  0.000197  0.85   7069.684553
1614  0.000123  0.000394  0.85   7069.684553
1615  0.000671  0.000000  0.85   7069.684553
1616  0.000130  0.000197  0.85   7069.684553
1617  0.000129  0.000000  0.85   7069.684553

[11231 rows x 4 columns]

In [15]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/180℃ 電流密度分布/current density 0.9V.xlsx', 0.9)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000734  0.010441   0.4  19224.406968
1     0.000734  0.010428   0.4  19224.406968
2     0.000061  0.010637   0.4  19224.406968
3     0.000062  0.010628   0.4  19224.406968
4     0.000738  0.010227   0.4  19224.406968
...        ...       ...   ...           ...
1766  0.000677  0.000289   0.9   4950.731306
1767  0.000117  0.000394   0.9   4950.731306
1768  0.000675  0.000000   0.9   4950.731306
1769  0.000126  0.000197   0.9   4950.731306
1770  0.000125  0.000000   0.9   4950.731306

[13002 rows x 4 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13002 entries, 0 to 1770
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   x座標       13002 non-null  float64
 1   y座標       13002 non-null  float64
 2   V[V]      13002 non-null  float64
 3   i[A/m^2]  13002 non-null  float64
dtypes: float64(4)
memory usage: 507.9 KB

In [17]:
df.describe()

                x座標           y座標          V[V]      i[A/m^2]
count  13002.000000  13002.000000  13002.000000  13002.000000
mean       0.000397      0.005325      0.687387  14078.175774
std        0.000195      0.003136      0.160356   7964.659848
min        0.000000      0.000000      0.400000   4201.298673
25%        0.000238      0.002561      0.550000   7002.283410
50%        0.000363      0.005319      0.700000  11916.034111
75%        0.000557      0.008077      0.850000  19729.286732
max        0.000800      0.010638      0.900000  33523.116672

In [18]:
df.to_csv("current density 180℃ 0.4-0.9V")

In [19]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [20]:
for col in df.columns:
    scaler =  StandardScaler()
    df[col] = scaler.fit_transform(np.array(df[col].values).reshape(-1, 1))
    
df.head()

        x座標       y座標      V[V]  i[A/m^2]
0  1.731677  1.631508 -1.792252  0.646158
1  1.733163  1.627214 -1.792252  0.646158
2 -1.723002  1.693937 -1.792252  0.646158
3 -1.721035  1.691086 -1.792252  0.646158
4  1.754765  1.563305 -1.792252  0.646158

In [21]:
df.describe()

                x座標           y座標          V[V]      i[A/m^2]
count  1.300200e+04  1.300200e+04  1.300200e+04  1.300200e+04
mean   3.235205e-16  1.311569e-16  6.995037e-16  2.098511e-16
std    1.000038e+00  1.000038e+00  1.000038e+00  1.000038e+00
min   -2.037017e+00 -1.697939e+00 -1.792252e+00 -1.240135e+00
25%   -8.167213e-01 -8.812823e-01 -8.567951e-01 -8.884453e-01
50%   -1.712663e-01 -1.805553e-03  7.866226e-02 -2.714774e-01
75%    8.221809e-01  8.776712e-01  1.014120e+00  7.095505e-01
max    2.070747e+00  1.694328e+00  1.325939e+00  2.441496e+00

In [23]:
df.to_csv("current density 180℃ 0.4-0.9V_std")