In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['x座標','y座標','V[V]','i[A/m^2]'])

In [3]:
def data_add(f,v):
    global df
    df1 = pd.read_excel(f,names=['x座標','y座標','i[A/m^2]'] ,header=8)
    df1.insert(2, 'V[V]', v)
    df = pd.concat([df, df1])
    return df

In [6]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.4V.xlsx', 0.4)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
2446  0.000100  0.000788   0.4  32691.611952
2447  0.000107  0.000591   0.4  32691.611952
2448  0.000115  0.000394   0.4  32691.611952
2449  0.000125  0.000197   0.4  32691.611952
2450  0.000126  0.000000   0.4  32691.611952

[2451 rows x 4 columns]

In [5]:
df.to_csv("current density 0.4-0.4V")

In [6]:
df

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
2446  0.000100  0.000788   0.4  32691.611952
2447  0.000107  0.000591   0.4  32691.611952
2448  0.000115  0.000394   0.4  32691.611952
2449  0.000125  0.000197   0.4  32691.611952
2450  0.000126  0.000000   0.4  32691.611952

[2451 rows x 4 columns]

In [7]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.5V.xlsx', 0.5)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
2639  0.000096  0.000788   0.5  26425.887902
2640  0.000100  0.000591   0.5  26425.887902
2641  0.000105  0.000394   0.5  26425.887902
2642  0.000113  0.000197   0.5  26425.887902
2643  0.000113  0.000000   0.5  26425.887902

[5095 rows x 4 columns]

In [8]:
df

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
2639  0.000096  0.000788   0.5  26425.887902
2640  0.000100  0.000591   0.5  26425.887902
2641  0.000105  0.000394   0.5  26425.887902
2642  0.000113  0.000197   0.5  26425.887902
2643  0.000113  0.000000   0.5  26425.887902

[5095 rows x 4 columns]

In [9]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.45V.xlsx', 0.45)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415  0.40  13057.283873
1     0.000671  0.010224  0.40  13057.283873
2     0.000673  0.010035  0.40  13057.283873
3     0.000677  0.009706  0.40  13057.283873
4     0.000678  0.009656  0.40  13057.283873
...        ...       ...   ...           ...
2547  0.000098  0.000788  0.45  29551.486590
2548  0.000103  0.000591  0.45  29551.486590
2549  0.000109  0.000394  0.45  29551.486590
2550  0.000119  0.000197  0.45  29551.486590
2551  0.000120  0.000000  0.45  29551.486590

[7647 rows x 4 columns]

In [10]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.55V.xlsx', 0.55)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415  0.40  13057.283873
1     0.000671  0.010224  0.40  13057.283873
2     0.000673  0.010035  0.40  13057.283873
3     0.000677  0.009706  0.40  13057.283873
4     0.000678  0.009656  0.40  13057.283873
...        ...       ...   ...           ...
2702  0.000094  0.000788  0.55  23336.374249
2703  0.000097  0.000591  0.55  23336.374249
2704  0.000101  0.000394  0.55  23336.374249
2705  0.000108  0.000197  0.55  23336.374249
2706  0.000107  0.000000  0.55  23336.374249

[10354 rows x 4 columns]

In [11]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.6V.xlsx', 0.6)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
2791  0.000091  0.000788   0.6  20304.521017
2792  0.000094  0.000591   0.6  20304.521017
2793  0.000098  0.000394   0.6  20304.521017
2794  0.000103  0.000197   0.6  20304.521017
2795  0.000103  0.000000   0.6  20304.521017

[13150 rows x 4 columns]

In [12]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.65V.xlsx', 0.65)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415  0.40  13057.283873
1     0.000671  0.010224  0.40  13057.283873
2     0.000673  0.010035  0.40  13057.283873
3     0.000677  0.009706  0.40  13057.283873
4     0.000678  0.009656  0.40  13057.283873
...        ...       ...   ...           ...
2880  0.000089  0.000788  0.65  17350.759090
2881  0.000092  0.000591  0.65  17350.759090
2882  0.000095  0.000394  0.65  17350.759090
2883  0.000100  0.000197  0.65  17350.759090
2884  0.000099  0.000000  0.65  17350.759090

[16035 rows x 4 columns]

In [13]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.7V.xlsx', 0.7)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
2944  0.000088  0.000788   0.7  14501.556252
2945  0.000090  0.000591   0.7  14501.556252
2946  0.000092  0.000394   0.7  14501.556252
2947  0.000097  0.000197   0.7  14501.556252
2948  0.000096  0.000000   0.7  14501.556252

[18984 rows x 4 columns]

In [14]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.75V.xlsx', 0.75)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415  0.40  13057.283873
1     0.000671  0.010224  0.40  13057.283873
2     0.000673  0.010035  0.40  13057.283873
3     0.000677  0.009706  0.40  13057.283873
4     0.000678  0.009656  0.40  13057.283873
...        ...       ...   ...           ...
2944  0.000088  0.000788  0.75  14501.556252
2945  0.000090  0.000591  0.75  14501.556252
2946  0.000092  0.000394  0.75  14501.556252
2947  0.000097  0.000197  0.75  14501.556252
2948  0.000096  0.000000  0.75  14501.556252

[21933 rows x 4 columns]

In [15]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.8V.xlsx', 0.8)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
3152  0.000085  0.000788   0.8   9245.597111
3153  0.000087  0.000591   0.8   9245.597111
3154  0.000089  0.000394   0.8   9245.597111
3155  0.000092  0.000197   0.8   9245.597111
3156  0.000091  0.000000   0.8   9245.597111

[25090 rows x 4 columns]

In [16]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.85V.xlsx', 0.85)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415  0.40  13057.283873
1     0.000671  0.010224  0.40  13057.283873
2     0.000673  0.010035  0.40  13057.283873
3     0.000677  0.009706  0.40  13057.283873
4     0.000678  0.009656  0.40  13057.283873
...        ...       ...   ...           ...
3225  0.000084  0.000788  0.85   6917.775594
3226  0.000086  0.000591  0.85   6917.775594
3227  0.000087  0.000394  0.85   6917.775594
3228  0.000090  0.000197  0.85   6917.775594
3229  0.000090  0.000000  0.85   6917.775594

[28320 rows x 4 columns]

In [17]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/練習/current density 0.9V.xlsx', 0.9)

           x座標       y座標  V[V]      i[A/m^2]
0     0.000669  0.010415   0.4  13057.283873
1     0.000671  0.010224   0.4  13057.283873
2     0.000673  0.010035   0.4  13057.283873
3     0.000677  0.009706   0.4  13057.283873
4     0.000678  0.009656   0.4  13057.283873
...        ...       ...   ...           ...
3311  0.000084  0.000788   0.9   4853.010999
3312  0.000085  0.000591   0.9   4853.010999
3313  0.000087  0.000394   0.9   4853.010999
3314  0.000089  0.000197   0.9   4853.010999
3315  0.000089  0.000000   0.9   4853.010999

[31636 rows x 4 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31636 entries, 0 to 3315
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   x座標       31636 non-null  float64
 1   y座標       31636 non-null  float64
 2   V[V]      31636 non-null  float64
 3   i[A/m^2]  31636 non-null  float64
dtypes: float64(4)
memory usage: 1.2 MB

In [19]:
df.describe()

                x座標           y座標          V[V]      i[A/m^2]
count  31636.000000  31636.000000  31636.000000  31636.000000
mean       0.000384      0.005275      0.664561  12178.428176
std        0.000169      0.003093      0.157671   6364.296429
min        0.000000      0.000000      0.400000   3028.944698
25%        0.000256      0.002561      0.550000   6828.340320
50%        0.000368      0.005300      0.650000  11416.401411
75%        0.000504      0.007898      0.800000  16014.615515
max        0.000800      0.010638      0.900000  32691.611952

In [20]:
df.to_csv("current density2 0.4-0.9V")

In [21]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [22]:
for col in df.columns:
    scaler =  StandardScaler()
    df[col] = scaler.fit_transform(np.array(df[col].values).reshape(-1, 1))
    
df.head()

        x座標       y座標      V[V]  i[A/m^2]
0  1.680659  1.662026 -1.677952  0.138094
1  1.691588  1.600252 -1.677952  0.138094
2  1.706301  1.539141 -1.677952  0.138094
3  1.728089  1.432824 -1.677952  0.138094
4  1.733078  1.416454 -1.677952  0.138094

In [23]:
df.describe()

                x座標           y座標          V[V]      i[A/m^2]
count  3.163600e+04  3.163600e+04  31636.000000  3.163600e+04
mean   8.983977e-17  1.028665e-16      0.000000  3.449847e-16
std    1.000016e+00  1.000016e+00      1.000016  1.000016e+00
min   -2.266241e+00 -1.705312e+00     -1.677952 -1.437650e+00
25%   -7.560830e-01 -8.773209e-01     -0.726592 -8.406542e-01
50%   -9.658599e-02  8.341966e-03     -0.092351 -1.197365e-01
75%    7.097901e-01  8.480674e-01      0.859009  6.027764e-01
max    2.454331e+00  1.734037e+00      1.493249  3.223217e+00

In [24]:
df.to_csv("current density2 0.4-0.9V_std")