In [1]:
import numpy as np
import pandas as pd
import glob
import re
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import tqdm

In [2]:
#path = "/Users/user/Desktop/Oka/ML-data/24-1-25"
path ="/Users/aruhy/OneDrive/デスクトップ/data/1-25"

In [3]:
df = pd.DataFrame(columns=['x座標','y座標','z座標','V[V]','T_cell[℃]','W_ch[mm]','i[A/m^2]'])

T_range = ["/*_100℃_1.5ms","/*_110℃_1.5ms","/*_120℃_1.5ms","/*_130℃_1.5ms","/*_140℃_1.5ms","/*_150℃_1.5ms"]
for T in tqdm.tqdm(T_range):
    W_ch_range = ["_0.4mm","_0.8mm","_1.6mm"] #0.2mmはいったん消す
    for W_ch in W_ch_range:
        files2 = glob.glob(path + T + W_ch)
        for filename in tqdm.tqdm(files2):
            
            df1 = pd.read_csv(filename,names=['x座標','y座標','z座標','i[A/m^2]'], delim_whitespace=True, header=8)
            v = re.findall(r'_3D(.*?)V_',filename)
            df1.insert(3,'V[V]', v[0])
            t = re.findall(r'V_(.*?)℃_',filename)
            df1.insert(4,'T_cell[℃]',t[0])
            w = re.findall(r'ms_(.*?)mm',filename)
            df1.insert(5,'W_ch[mm]',w[0])
            df1 = df1.sample(30000)
            df = pd.concat([df, df1])
df['V[V]'] = df['V[V]'].astype(float)
df['T_cell[℃]'] = df['T_cell[℃]'].astype(float)
df['W_ch[mm]'] = df['W_ch[mm]'].astype(float)
df.reset_index(drop=True, inplace=True)
df

  0%|          | 0/6 [00:00<?, ?it/s]C:\Users\aruhy\AppData\Local\Temp\ipykernel_14536\3462138126.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df1])
100%|██████████| 11/11 [00:04<00:00,  2.53it/s]
100%|██████████| 11/11 [00:02<00:00,  4.22it/s]
100%|██████████| 11/11 [00:04<00:00,  2.34it/s]
100%|██████████| 11/11 [00:04<00:00,  2.34it/s]
100%|██████████| 11/11 [00:03<00:00,  3.55it/s]
100%|██████████| 11/11 [00:05<00:00,  2.09it/s]
100%|██████████| 11/11 [00:05<00:00,  2.01it/s]
100%|██████████| 11/11 [00:04<00:00,  2.73it/s]
100%|██████████| 10/10 [00:05<00:00,  1.95it/s]
100%|██████████| 11/11 [00:05<00:00,  1.91it/s]
100%|██████████| 11/11 [00:04<00:00,  2.70it/s]
100%|██████████| 11/11 [00:05<00:00,  1.84it/s]
100%|██████████| 11/11 [00:06<00:00,  1.74it/s]
100%|██████████| 11/11 [00:04<00:00,  2.32it/s]
100%|██████████| 11/11 [00:06<00:00,  1.66it/s]
100%|██████████| 11/11 [00:06<00:00,  1.64it/s]
100%|██████████| 11/11 [00:05<00:00,  2.12it/s]
100%|██████████| 11/11 [00:07<00:00,  1.51it/s]
100%|██████████| 6/6 [01:32<00:00, 15.37s/it]

              x座標       y座標       z座標  V[V]  T_cell[℃]  W_ch[mm]      i[A/m^2]
0        0.000556  0.007887  0.000551  0.45      100.0       0.4  16693.262776
1        0.000068  0.003370  0.000554  0.45      100.0       0.4  17495.553011
2        0.000244  0.009062  0.000550  0.45      100.0       0.4  16614.480529
3        0.000756  0.005713  0.000626  0.45      100.0       0.4  17217.482611
4        0.000412  0.008274  0.000617  0.45      100.0       0.4  16290.161228
...           ...       ...       ...   ...        ...       ...           ...
5909995  0.001510  0.000985  0.000317  0.90      150.0       1.6   1717.583000
5909996  0.000130  0.005606  0.000250  0.90      150.0       1.6   2007.461783
5909997  0.001710  0.000394  0.000283  0.90      150.0       1.6   2012.293980
5909998  0.001230  0.009456  0.000293  0.90      150.0       1.6   1376.936907
5909999  0.000070  0.010244  0.000258  0.90      150.0       1.6   1940.447155

[5910000 rows x 7 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591000 entries, 0 to 590999
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   x座標        591000 non-null  float64
 1   y座標        591000 non-null  float64
 2   z座標        591000 non-null  float64
 3   V[V]       591000 non-null  float64
 4   T_cell[℃]  591000 non-null  float64
 5   W_ch[mm]   591000 non-null  float64
 6   i[A/m^2]   591000 non-null  float64
dtypes: float64(7)
memory usage: 31.6 MB

In [14]:
df.describe()

,x座標,y座標,z座標,V[V],T_cell[℃],W_ch[mm],i[A/m^2]
count,591000.000000,591000.000000,591000.000000,591000.000000,591000.000000,591000.000000,591000.000000
mean,0.000665,0.005321,0.000434,0.651015,125.025381,0.929949,8391.072422
std,0.000480,0.003107,0.000129,0.157870,17.117832,0.497881,6850.752617
min,0.000004,0.000000,0.000250,0.400000,100.000000,0.400000,-0.086556
25%,0.000290,0.002633,0.000327,0.500000,110.000000,0.400000,2562.444693
50%,0.000580,0.005319,0.000402,0.650000,130.000000,0.800000,6520.303271
75%,0.000930,0.008011,0.000576,0.800000,140.000000,1.600000,12986.673549
max,0.001990,0.010638,0.000650,0.900000,150.000000,1.600000,28991.542841

In [4]:
df_re= df.loc[1770000:1799999,'i[A/m^2]']
df_re

1770000   -0.029484
1770001   -0.059176
1770002   -0.067747
1770003   -0.007469
1770004   -0.037241
             ...
1799995   -0.044972
1799996   -0.055966
1799997   -0.038557
1799998   -0.043497
1799999   -0.030804
Name: i[A/m^2], Length: 30000, dtype: float64

In [5]:
df.drop(df.loc[1770000:1799999,:].index, inplace=True)

In [12]:
# One-Hot Encodingを実行する
one_hot_encoded = pd.get_dummies(df['W_ch[mm]'], prefix='W_ch[mm]')

# ブール型を0と1に変換する
one_hot_encoded = one_hot_encoded.astype(int)

# 元のデータフレームと結合する
df_encoded = pd.concat([df.iloc[:, :6],one_hot_encoded,df.iloc[:,6:]], axis=1)

# 元のカテゴリ変数の列を削除する
df_encoded.drop(columns=['W_ch[mm]'], inplace=True)

In [13]:
df_encoded

,x座標,y座標,z座標,V[V],T_cell[℃],W_ch[mm]_0.4,W_ch[mm]_0.8,W_ch[mm]_1.6,i[A/m^2]
0,0.000556,0.007887,0.000551,0.45,100.0,1,0,0,16693.262776
1,0.000068,0.003370,0.000554,0.45,100.0,1,0,0,17495.553011
2,0.000244,0.009062,0.000550,0.45,100.0,1,0,0,16614.480529
3,0.000756,0.005713,0.000626,0.45,100.0,1,0,0,17217.482611
4,0.000412,0.008274,0.000617,0.45,100.0,1,0,0,16290.161228
...,...,...,...,...,...,...,...,...,...
5909995,0.001510,0.000985,0.000317,0.90,150.0,0,0,1,1717.583000
5909996,0.000130,0.005606,0.000250,0.90,150.0,0,0,1,2007.461783
5909997,0.001710,0.000394,0.000283,0.90,150.0,0,0,1,2012.293980
5909998,0.001230,0.009456,0.000293,0.90,150.0,0,0,1,1376.936907
5909999,0.000070,0.010244,0.000258,0.90,150.0,0,0,1,1940.447155

In [14]:
df_encoded.to_csv("CD3D_one-hot")

In [20]:
for col in ['x座標','y座標','z座標','V[V]','T_cell[℃]']:
    scaler =  StandardScaler()
    df_encoded[col] = scaler.fit_transform(np.array(df[col].values).reshape(-1, 1))
    
df_encoded.head()

,x座標,y座標,z座標,V[V],T_cell[℃],W_ch[mm]_0.4,W_ch[mm]_0.8,W_ch[mm]_1.6,i[A/m^2]
0,-0.224239,0.826082,0.901858,-1.270096,-1.465584,1,0,0,16693.262776
1,-1.244169,-0.626926,0.919924,-1.270096,-1.465584,1,0,0,17495.553011
2,-0.876325,1.204067,0.892825,-1.270096,-1.465584,1,0,0,16614.480529
3,0.193765,0.126826,1.482553,-1.270096,-1.465584,1,0,0,17217.482611
4,-0.525202,0.950598,1.408998,-1.270096,-1.465584,1,0,0,16290.161228

In [22]:
df_encoded.describe()

,x座標,y座標,z座標,V[V],T_cell[℃],W_ch[mm]_0.4,W_ch[mm]_0.8,W_ch[mm]_1.6,i[A/m^2]
count,5.880000e+06,5.880000e+06,5.880000e+06,5.880000e+06,5.880000e+06,5.880000e+06,5.880000e+06,5.880000e+06,5.880000e+06
mean,-6.187039e-18,-4.158367e-17,4.686682e-17,2.443880e-17,1.435393e-15,3.367347e-01,3.367347e-01,3.265306e-01,8.432013e+03
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.725934e-01,4.725934e-01,4.689439e-01,6.842087e+03
min,-1.377930e+00,-1.710821e+00,-1.429954e+00,-1.586008e+00,-1.465584e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.708169e+01
25%,-7.801843e-01,-8.664540e-01,-8.195796e-01,-9.541836e-01,-8.817337e-01,0.000000e+00,0.000000e+00,0.000000e+00,2.610434e+03
50%,-1.740787e-01,9.149895e-05,-2.414655e-01,-6.447187e-03,2.859677e-01,0.000000e+00,0.000000e+00,0.000000e+00,6.548064e+03
75%,5.574281e-01,8.653696e-01,1.100585e+00,9.412892e-01,8.698184e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.302819e+04
max,2.772849e+00,1.711004e+00,1.667085e+00,1.573114e+00,1.453669e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.899283e+04

In [23]:
df_encoded.to_csv("CD3D_one-hot_std")