In [1]:
import numpy as np
import pandas as pd
import glob
import re

In [2]:
path = "/Users/aruhy/OneDrive/デスクトップ/data/12-12"

In [9]:
df = pd.DataFrame(columns=['x座標','y座標','z座標','V[V]','T_cell[℃]','W_ch[mm]','i[A/m^2]'])
T_range = ["/*_100℃_1.5ms","/*_110℃_1.5ms","/*_120℃_1.5ms","/*_130℃_1.5ms","/*_140℃_1.5ms","/*_150℃_1.5ms"]
for T in T_range:
    files1 = glob.glob(path + T)
    for filename in files1:
            df1 = pd.read_csv(filename,names=['x座標','y座標','z座標','i[A/m^2]'], delim_whitespace=True, header=8)
            v = re.findall(r'_3D(.*?)V_',filename)
            df1.insert(3,'V[V]', v[0])
            t = re.findall(r'V_(.*?)℃_',filename)
            df1.insert(4,'T_cell[℃]',t[0])
            df = pd.concat([df, df1])
df['V[V]'] = df['V[V]'].astype(float)
df['T_cell[℃]'] = df['T_cell[℃]'].astype(float)
df['W_ch[mm]'] = df['W_ch[mm]'].astype(float)
df

C:\Users\aruhy\AppData\Local\Temp\ipykernel_10936\255713099.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df1])

           x座標       y座標       z座標  V[V]  T_cell[℃]  W_ch[mm]      i[A/m^2]
0     0.000029  0.010638  0.000983  0.45      100.0       0.2  16524.622871
1     0.000029  0.010638  0.001017  0.45      100.0       0.2  16462.542205
2     0.000000  0.010638  0.001017  0.45      100.0       0.2  16452.771750
3     0.000000  0.010539  0.000983  0.45      100.0       0.2  16524.474581
4     0.000000  0.010539  0.001017  0.45      100.0       0.2  16467.071150
...        ...       ...       ...   ...        ...       ...           ...
1118  0.002000  0.000000  0.000250  0.90      150.0       1.6   2249.810042
1119  0.001429  0.000000  0.000350  0.90      150.0       1.6   1636.771414
1120  0.001429  0.000000  0.000317  0.90      150.0       1.6   1632.603678
1121  0.001429  0.000000  0.000283  0.90      150.0       1.6   1620.467923
1122  0.001429  0.000000  0.000250  0.90      150.0       1.6   1615.640117

[587136 rows x 7 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 587136 entries, 0 to 1122
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   x座標        587136 non-null  float64
 1   y座標        587136 non-null  float64
 2   z座標        587136 non-null  float64
 3   V[V]       587136 non-null  float64
 4   T_cell[℃]  587136 non-null  float64
 5   W_ch[mm]   587136 non-null  float64
 6   i[A/m^2]   587136 non-null  float64
dtypes: float64(7)
memory usage: 35.8 MB

In [11]:
df.describe()

,x座標,y座標,z座標,V[V],T_cell[℃],W_ch[mm],i[A/m^2]
count,587136.000000,587136.000000,587136.000000,587136.000000,587136.000000,587136.000000,587136.000000
mean,0.000433,0.005317,0.000783,0.650000,125.000000,0.464771,9911.101978
std,0.000415,0.003175,0.000279,0.158114,17.078266,0.462487,7544.979025
min,0.000000,0.000000,0.000250,0.400000,100.000000,0.200000,16.743332
25%,0.000143,0.002561,0.000550,0.500000,110.000000,0.200000,3276.220967
50%,0.000369,0.005319,0.000950,0.650000,125.000000,0.200000,8483.830790
75%,0.000571,0.008077,0.001050,0.800000,140.000000,0.400000,15865.986901
max,0.002000,0.010638,0.001050,0.900000,150.000000,1.600000,29203.786104

In [12]:
df.to_csv("CD3D_100-150℃_0.2-1.6mm_0.4-0.9V")