In [26]:
import numpy as np
import pandas as pd

In [27]:
df = pd.DataFrame(columns=['x座標','y座標','z座標','V[V]','i[A/m^2]','c[mol/m^3]'])

In [28]:
def data_add(f1,f2,v):
    global df
    df1 = pd.read_excel(f1,names=['x座標','y座標','z座標','i[A/m^2]'] ,header=8)
    df2 = pd.read_excel(f2,names=['x座標','y座標','z座標','c[mol/m^3]'] ,header=8)
    df3 = df1.merge(df2, on=['x座標','y座標','z座標'], how="outer")
    df3.insert(3, 'V[V]', v)
    df4 = df3.fillna(0)
    df = pd.concat([df, df4])
    return df

In [29]:
data_add('/Users/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.4V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.4V.xlsx', 0.4)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633   0.4  27966.558421    0.000000
1      0.000800  0.010540  0.000633   0.4  28018.444979    0.000000
2      0.000800  0.010540  0.000617   0.4  28328.592610    0.000000
3      0.000738  0.010638  0.000617   0.4  28886.594133    0.000000
4      0.000769  0.010638  0.000617   0.4  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762   0.4      0.000000    2.704391
13015  0.000800  0.000197  0.000780   0.4      0.000000    2.736251
13016  0.000800  0.000197  0.000721   0.4      0.000000    2.559968
13017  0.000800  0.000197  0.000733   0.4      0.000000    2.610028
13018  0.000800  0.000197  0.000746   0.4      0.000000    2.659965

[13019 rows x 6 columns]

In [30]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.45V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.45V.xlsx',0.45)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633  0.40  27966.558421    0.000000
1      0.000800  0.010540  0.000633  0.40  28018.444979    0.000000
2      0.000800  0.010540  0.000617  0.40  28328.592610    0.000000
3      0.000738  0.010638  0.000617  0.40  28886.594133    0.000000
4      0.000769  0.010638  0.000617  0.40  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762  0.45      0.000000    2.967271
13015  0.000800  0.000197  0.000780  0.45      0.000000    2.996298
13016  0.000800  0.000197  0.000721  0.45      0.000000    2.835640
13017  0.000800  0.000197  0.000733  0.45      0.000000    2.881281
13018  0.000800  0.000197  0.000746  0.45      0.000000    2.926793

[26038 rows x 6 columns]

In [31]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.5V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.5V.xlsx', 0.5)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633   0.4  27966.558421    0.000000
1      0.000800  0.010540  0.000633   0.4  28018.444979    0.000000
2      0.000800  0.010540  0.000617   0.4  28328.592610    0.000000
3      0.000738  0.010638  0.000617   0.4  28886.594133    0.000000
4      0.000769  0.010638  0.000617   0.4  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762   0.5      0.000000    3.228513
13015  0.000800  0.000197  0.000780   0.5      0.000000    3.254668
13016  0.000800  0.000197  0.000721   0.5      0.000000    3.109863
13017  0.000800  0.000197  0.000733   0.5      0.000000    3.151016
13018  0.000800  0.000197  0.000746   0.5      0.000000    3.192038

[39057 rows x 6 columns]

In [32]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.55V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.55V.xlsx',0.55)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633  0.40  27966.558421    0.000000
1      0.000800  0.010540  0.000633  0.40  28018.444979    0.000000
2      0.000800  0.010540  0.000617  0.40  28328.592610    0.000000
3      0.000738  0.010638  0.000617  0.40  28886.594133    0.000000
4      0.000769  0.010638  0.000617  0.40  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762  0.55      0.000000    3.486571
13015  0.000800  0.000197  0.000780  0.55      0.000000    3.509836
13016  0.000800  0.000197  0.000721  0.55      0.000000    3.380988
13017  0.000800  0.000197  0.000733  0.55      0.000000    3.417619
13018  0.000800  0.000197  0.000746  0.55      0.000000    3.454123

[52076 rows x 6 columns]

In [33]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.6V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.6V.xlsx',0.6)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633   0.4  27966.558421    0.000000
1      0.000800  0.010540  0.000633   0.4  28018.444979    0.000000
2      0.000800  0.010540  0.000617   0.4  28328.592610    0.000000
3      0.000738  0.010638  0.000617   0.4  28886.594133    0.000000
4      0.000769  0.010638  0.000617   0.4  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762   0.6      0.000000    3.739828
13015  0.000800  0.000197  0.000780   0.6      0.000000    3.760211
13016  0.000800  0.000197  0.000721   0.6      0.000000    3.647291
13017  0.000800  0.000197  0.000733   0.6      0.000000    3.679405
13018  0.000800  0.000197  0.000746   0.6      0.000000    3.711398

[65095 rows x 6 columns]

In [34]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.65V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.65V.xlsx',0.65)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633  0.40  27966.558421    0.000000
1      0.000800  0.010540  0.000633  0.40  28018.444979    0.000000
2      0.000800  0.010540  0.000617  0.40  28328.592610    0.000000
3      0.000738  0.010638  0.000617  0.40  28886.594133    0.000000
4      0.000769  0.010638  0.000617  0.40  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762  0.65      0.000000    3.986489
13015  0.000800  0.000197  0.000780  0.65      0.000000    4.004021
13016  0.000800  0.000197  0.000721  0.65      0.000000    3.906861
13017  0.000800  0.000197  0.000733  0.65      0.000000    3.934502
13018  0.000800  0.000197  0.000746  0.65      0.000000    3.962031

[78114 rows x 6 columns]

In [35]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.7V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.7V.xlsx',0.7)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633   0.4  27966.558421    0.000000
1      0.000800  0.010540  0.000633   0.4  28018.444979    0.000000
2      0.000800  0.010540  0.000617   0.4  28328.592610    0.000000
3      0.000738  0.010638  0.000617   0.4  28886.594133    0.000000
4      0.000769  0.010638  0.000617   0.4  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762   0.7      0.000000    4.224470
13015  0.000800  0.000197  0.000780   0.7      0.000000    4.239215
13016  0.000800  0.000197  0.000721   0.7      0.000000    4.157477
13017  0.000800  0.000197  0.000733   0.7      0.000000    4.180739
13018  0.000800  0.000197  0.000746   0.7      0.000000    4.203899

[91133 rows x 6 columns]

In [36]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.75V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.75V.xlsx',0.75)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633  0.40  27966.558421    0.000000
1      0.000800  0.010540  0.000633  0.40  28018.444979    0.000000
2      0.000800  0.010540  0.000617  0.40  28328.592610    0.000000
3      0.000738  0.010638  0.000617  0.40  28886.594133    0.000000
4      0.000769  0.010638  0.000617  0.40  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762  0.75      0.000000    4.451297
13015  0.000800  0.000197  0.000780  0.75      0.000000    4.463350
13016  0.000800  0.000197  0.000721  0.75      0.000000    4.396505
13017  0.000800  0.000197  0.000733  0.75      0.000000    4.415535
13018  0.000800  0.000197  0.000746  0.75      0.000000    4.434476

[104152 rows x 6 columns]

In [37]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.8V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.8V.xlsx',0.8)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633   0.4  27966.558421    0.000000
1      0.000800  0.010540  0.000633   0.4  28018.444979    0.000000
2      0.000800  0.010540  0.000617   0.4  28328.592610    0.000000
3      0.000738  0.010638  0.000617   0.4  28886.594133    0.000000
4      0.000769  0.010638  0.000617   0.4  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762   0.8      0.000000    4.664002
13015  0.000800  0.000197  0.000780   0.8      0.000000    4.673504
13016  0.000800  0.000197  0.000721   0.8      0.000000    4.620788
13017  0.000800  0.000197  0.000733   0.8      0.000000    4.635800
13018  0.000800  0.000197  0.000746   0.8      0.000000    4.650739

[117171 rows x 6 columns]

In [38]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.85V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.85V.xlsx',0.85)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633  0.40  27966.558421    0.000000
1      0.000800  0.010540  0.000633  0.40  28018.444979    0.000000
2      0.000800  0.010540  0.000617  0.40  28328.592610    0.000000
3      0.000738  0.010638  0.000617  0.40  28886.594133    0.000000
4      0.000769  0.010638  0.000617  0.40  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762  0.85      0.000000    4.859057
13015  0.000800  0.000197  0.000780  0.85      0.000000    4.866198
13016  0.000800  0.000197  0.000721  0.85      0.000000    4.826569
13017  0.000800  0.000197  0.000733  0.85      0.000000    4.837857
13018  0.000800  0.000197  0.000746  0.85      0.000000    4.849089

[130190 rows x 6 columns]

In [39]:
data_add('/Users\/aruhy/OneDrive/デスクトップ/data/10-18/CD_3D 0.9V.xlsx',
         '/Users/aruhy/OneDrive/デスクトップ/data/11-27/O2dist_0.9V.xlsx',0.9)

            x座標       y座標       z座標  V[V]      i[A/m^2]  c[mol/m^3]
0      0.000800  0.010441  0.000633   0.4  27966.558421    0.000000
1      0.000800  0.010540  0.000633   0.4  28018.444979    0.000000
2      0.000800  0.010540  0.000617   0.4  28328.592610    0.000000
3      0.000738  0.010638  0.000617   0.4  28886.594133    0.000000
4      0.000769  0.010638  0.000617   0.4  28624.930799    0.000000
...         ...       ...       ...   ...           ...         ...
13014  0.000800  0.000197  0.000762   0.9      0.000000    5.032360
13015  0.000800  0.000197  0.000780   0.9      0.000000    5.037386
13016  0.000800  0.000197  0.000721   0.9      0.000000    5.009484
13017  0.000800  0.000197  0.000733   0.9      0.000000    5.017434
13018  0.000800  0.000197  0.000746   0.9      0.000000    5.025342

[143209 rows x 6 columns]

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143209 entries, 0 to 13018
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   x座標         143209 non-null  float64
 1   y座標         143209 non-null  float64
 2   z座標         143209 non-null  float64
 3   V[V]        143209 non-null  float64
 4   i[A/m^2]    143209 non-null  float64
 5   c[mol/m^3]  143209 non-null  float64
dtypes: float64(6)
memory usage: 7.6 MB

In [41]:
df.describe()

,x座標,y座標,z座標,V[V],i[A/m^2],c[mol/m^3]
count,143209.000000,143209.000000,143209.000000,143209.000000,143209.000000,143209.000000
mean,0.000400,0.005319,0.000706,0.650000,9837.709987,1.953668
std,0.000276,0.003590,0.000173,0.158114,10947.523768,2.119352
min,0.000000,-0.002128,0.000550,0.400000,0.000000,0.000000
25%,0.000185,0.002266,0.000583,0.500000,0.000000,0.000000
50%,0.000400,0.005319,0.000650,0.650000,6732.090441,0.825789
75%,0.000615,0.008372,0.000746,0.800000,19282.105389,4.136701
max,0.000800,0.012766,0.001200,0.900000,34061.344752,6.284886

In [42]:
df.to_csv("CD_3D+O2dist 0.4-0.9V")

In [43]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [44]:
for col in df.columns:
    scaler =  StandardScaler()
    df[col] = scaler.fit_transform(np.array(df[col].values).reshape(-1, 1))
    
df.head()

        x座標       y座標       z座標      V[V]  i[A/m^2]  c[mol/m^3]
0  1.452284  1.426678 -0.420710 -1.581139  1.655983   -0.921826
1  1.452284  1.454113 -0.420710 -1.581139  1.660722   -0.921826
2  1.452284  1.454113 -0.516815 -1.581139  1.689053   -0.921826
3  1.228969  1.481547 -0.516815 -1.581139  1.740024   -0.921826
4  1.340626  1.481547 -0.516815 -1.581139  1.716122   -0.921826

In [45]:
df.describe()

,x座標,y座標,z座標,V[V],i[A/m^2],c[mol/m^3]
count,1.432090e+05,1.432090e+05,1.432090e+05,1.432090e+05,1.432090e+05,1.432090e+05
mean,-6.033280e-17,3.016640e-17,2.921378e-16,-7.176428e-16,3.111902e-16,2.603837e-16
std,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00
min,-1.450814e+00,-2.074011e+00,-9.012352e-01,-1.581139e+00,-8.986274e-01,-9.218263e-01
25%,-7.808681e-01,-8.504159e-01,-7.090250e-01,-9.486833e-01,-8.986274e-01,-9.218263e-01
50%,7.351217e-04,6.487897e-05,-3.246046e-01,-7.021667e-16,-2.836834e-01,-5.321826e-01
75%,7.823384e-01,8.505456e-01,2.314321e-01,9.486833e-01,8.627000e-01,1.030051e+00
max,1.452284e+00,2.074141e+00,2.846864e+00,1.581139e+00,2.212712e+00,2.043659e+00

In [46]:
df.to_csv("CD_3D+O2dist 0.4-0.9V_std")