In [1]:
import numpy as np
import pandas as pd
import glob
import re
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import tqdm

In [6]:
path = "/Users/user/Desktop/Oka/COMSOL/PEFC/data/24-7-19"
#path ="/Users/aruhy/OneDrive/デスクトップ/data/1-25"

In [9]:
df = pd.DataFrame(columns=['x座標','y座標','z座標','V[V]','i[A/m^2]'])

#CD_3D 110℃_0.4V
files = "/*"
files2 = glob.glob(path+files)
for filename in tqdm.tqdm(files2):
            
    df1 = pd.read_csv(filename,names=['x座標','y座標','z座標','i[A/m^2]'], delim_whitespace=True, header=8)
    v = re.findall(r'℃_(.*?)V',filename)
    df1.insert(3,'V[V]', v[0])
    df = pd.concat([df, df1])
        
    
df['V[V]'] = df['V[V]'].astype(float)

df.reset_index(drop=True, inplace=True)
df

  0%|          | 0/16 [00:00<?, ?it/s]C:\Users\user\AppData\Local\Temp\ipykernel_17084\1684063584.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df1])
100%|██████████| 16/16 [00:00<00:00, 19.28it/s]

             x座標      y座標       z座標  V[V]  i[A/m^2]
0       0.001454  0.00720  0.001180  0.25  1.073876
1       0.001385  0.00720  0.001180  0.25  1.092281
2       0.001454  0.00735  0.001165  0.25  1.070414
3       0.001523  0.00750  0.001165  0.25  1.048711
4       0.001454  0.00750  0.001165  0.25  1.067424
...          ...      ...       ...   ...       ...
158676  0.000485  0.01575  0.001165  1.00  0.000326
158677  0.000415  0.01560  0.001165  1.00  0.000327
158678  0.000069  0.01545  0.001165  1.00  0.000327
158679  0.000623  0.01545  0.001165  1.00  0.000327
158680  0.001454  0.01560  0.001165  1.00  0.000326

[158681 rows x 5 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158681 entries, 0 to 158680
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   x座標       158681 non-null  float64
 1   y座標       158681 non-null  float64
 2   z座標       158681 non-null  float64
 3   V[V]      158681 non-null  float64
 4   i[A/m^2]  158681 non-null  float64
dtypes: float64(5)
memory usage: 6.1 MB

In [11]:
df.describe()

,x座標,y座標,z座標,V[V],i[A/m^2]
count,158681.000000,158681.000000,158681.000000,158681.000000,158681.000000
mean,0.000900,0.011251,0.001173,0.624892,0.384019
std,0.000607,0.006697,0.000007,0.230532,0.352092
min,0.000000,0.000000,0.001165,0.250000,0.000323
25%,0.000346,0.005400,0.001165,0.400000,0.051025
50%,0.000900,0.011250,0.001172,0.600000,0.336553
75%,0.001454,0.017100,0.001180,0.800000,0.691910
max,0.001800,0.022500,0.001180,1.000000,1.243340

In [12]:
df.to_csv("CD3D_110℃_whole")

In [13]:
for col in df.columns:
    scaler =  StandardScaler()
    df[col] = scaler.fit_transform(np.array(df[col].values).reshape(-1, 1))
    
df.head()

        x座標       y座標       z座標     V[V]  i[A/m^2]
0  0.912032 -0.604857  1.076956 -1.62621  1.959314
1  0.798039 -0.604857  1.076956 -1.62621  2.011586
2  0.912032 -0.582460 -1.077296 -1.62621  1.949482
3  1.026024 -0.560062 -1.077296 -1.62621  1.887840
4  0.912032 -0.560062 -1.077296 -1.62621  1.940987

In [14]:
df.describe()

                x座標           y座標           z座標          V[V]      i[A/m^2]
count  1.586810e+05  1.586810e+05  1.586810e+05  1.586810e+05  1.586810e+05
mean   7.692871e-17  8.597388e-18 -4.076827e-14  1.948741e-16  8.024228e-17
std    1.000003e+00  1.000003e+00  1.000003e+00  1.000003e+00  1.000003e+00
min   -1.481812e+00 -1.679936e+00 -1.077296e+00 -1.626210e+00 -1.089766e+00
25%   -9.118490e-01 -8.736269e-01 -1.077296e+00 -9.755381e-01 -9.457625e-01
50%    9.123368e-05 -1.257626e-04 -1.696999e-04 -1.079758e-01 -1.348124e-01
75%    9.120315e-01  8.733754e-01  1.076956e+00  7.595865e-01  8.744622e-01
max    1.481994e+00  1.679684e+00  1.076956e+00  1.627149e+00  2.440622e+00

In [15]:
df.to_csv("CD3D_110℃_whole_std")